:root {
  --section-color: #f7f7f7;
  --dark-color: #343434;
  --hover-color: #1c1c1c;
  --section-padding: 100px 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Poppins", sans-serif;
  color: #343434;
  font-weight: 400;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: "Montserrat", sans-serif;
}
p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
}
.imgframe {
  background-image: url("../imgs/bg.jpg");
  background-size: cover;
  height: 100vh;
  background-position: 0px 0px;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.65;
  z-index: 2;
}
/* Nav */
nav,
.navbar {
  z-index: 3;
  background-color: white;
}
.navbar-nav{
  font-size: 13px;
  font-weight:400px;
}
.navbar .navbar-nav > li > a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.navl {
  font-weight: 600;
}
/* Head */
.header h5 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}
.header .col .icons a {
  text-decoration: none !important;
  background-color: rgba(1, 11, 19, 0.457);
  display: inline-block;
  width: 35px;
  font-size: 14px;
  line-height: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 0px;
}
/* About */
.about img {
  position: relative;
  width: 100%;
  height: auto;
}
.about .container {
  width: 1100px;
}
.about .img-hero {
  padding-left: 30px;
  padding-right: 0px;
}
.about h3 {
  font-size: 30px;
  font-weight: bolder;
}
.about .img-hero::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: -10px;
  bottom: -30px;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
}
.about .bar h6 {
  padding: 10px;
  margin: 5px;
  position: absolute;
  font-size: 13px;
}
.about .bar .progress {
  height: 22px;
  box-shadow: inset 1000px 110px 60px 1110px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.about .bar .bar-1::after {
  content: "95%";
  position: absolute;
  right: 40px;
  top: 0px;
}
.about .bar .ba-2::after {
  content: "85%";
  position: absolute;
  right: 130px;
  top: 0px;
}
.about .bar .ba-3::after {
  content: "90%";
  position: absolute;
  right: 67px;
  top: 0px;
}
.about .botn .b-1 {
  background-color: var(--hover-color);
  padding: 10px 25px;
}
.about .botn .b-1:hover {
  background-color: white;
  color: var(--hover-color);
  transition: 0.5s;
}
.about .botn .b-2 {
  background-color: white;
  color: var(--hover-color);
  padding: 10px 25px;
}
.about .botn .b-2:hover {
  background-color: var(--hover-color);
  color: white;
  transition: 0.5s;
}
/* Services */
.service .head h3 {
  font-size: 40px !important;
  position: relative;
}
.service .container{
  width: 1100px;
}
.service .head h3::before {
  content: "";
  display: block;
  width: 100px;
  height: 80%;
  position: absolute;
  left: -10px;
  bottom: -30px;
  background-image: url(../imgs/dots.png);
  background-color: red;
  background-repeat: repeat;
  z-index: -1;
}
.service .card h6{
  font-weight: bold;
  font-size: 17px;
  margin-top: 0px;
}
.service .row .col-md-4 .card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.service .card{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.service .card .svgz{
  font-size: 30px;
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #f4f4f4;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.service .card:hover .svgz{
  background-color: var(--hover-color);
  color: white;
  transition: .7s ease-in-out;
}
/* Portfolio */